* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

main {
    max-width: 1340px;
    margin: auto;
}

main p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

main section {
    margin-top: 130px
}


/* Header related styles */

header {
    background-image: url('../resources/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 800px;

}

.header-content {
    text-align: right;
    max-width: 500px;
    padding: 220px 230px 170px 850px;
}

.banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.primary-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
}


/* Section related styles  */

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}


/* Previous Year Section Styles */

.previous-year {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.previous-year-img {
    max-width: 416px;
}

.previous-year-content {
    max-width: 425px;
}

.marked-text li {
    list-style: none;
}

.previous-year-description {
    margin-top: 24px;
    margin-bottom: 16px;
}


/* Plan section styles  */

.plan h3 {
    text-align: center;
    margin-bottom: 80px;
}

.milestone-container {
    display: flex;
    justify-content: space-around;
}

.goal-container {
    align-items: center;
    text-align: center;
}

.goal-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.goal-mindset {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}


/* Call now section related styles */

.call-now {
    background-image: url('../resources/images/gradient2.png'), url('../resources/images/watch.png');
    /* background-image:  */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: bottom right, center;
}

.call-now-button {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 1px black solid;
    border-radius: 5px;
    background: #FFF;
    padding: 20px 35px;
    margin-top: 24px;
}

.call-now-content {
    padding: 60px;
}


/* Footer related styles  */

footer {
    margin-top: 130px;
    height: 600px;
    background: #151414;
    color: #FFF;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}

.footer-container {
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    max-width: 500px;
}

.footer-heading {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.subscribe input[type="email"] {
    color:#F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border: #F3F3F3 2px solid;
    border-radius: 8px;
    padding: 20px 160px 20px 20px;
    background-color: #444343;
    display: block;
    margin-top: 20px;
}